@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-border {
  backdrop-filter: blur(1px);
  &::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #ffffff19, transparent, #ffffff04, #ffffff14);
  background-clip: border-box;
  mask:
    linear-gradient(#fff 0 0) padding-box,
    linear-gradient(#fff 0 0);
  mask-composite: exclude !important;
  z-index: -10;
  border-radius: 16px;
  border: 2px solid transparent;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
